pkgbase = git-setup
	pkgdesc = Configure Git, GitHub, SSH and GPG interactively
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/robert-flo/git-setup---hermes-agent-era
	arch = any
	license = MIT
	depends = git
	depends = github-cli
	depends = gnupg
	depends = openssh
	depends = git-delta
	options = !debug
	source = git-setup-0.1.0.tar.gz::https://github.com/robert-flo/git-setup---hermes-agent-era/archive/refs/tags/v0.1.0.tar.gz
	source = git-setup
	sha256sums = d3559179dc27806a2b90f352fcea2adf8b485e949c7a6f561b566208f20173b7
	sha256sums = e1940018f1f1f042fdb697fdfcf022076cfcd2821c3689aaa3fd5c6d3583f150

pkgname = git-setup
